In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/annual-enterprise-survey-2021-financial-year-provisional-csv.csv")

In [3]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [6]:
df = pd.read_json("Data/large-file.json")

In [7]:
df

,id,type,actor,repo,payload,public,created_at,org
0,2489651045,CreateEvent,"{'id': 665991, 'login': 'petroav', 'gravatar_i...","{'id': 28688495, 'name': 'petroav/6.828', 'url...","{'ref': 'master', 'ref_type': 'branch', 'maste...",True,2015-01-01 15:00:00+00:00,NaN
1,2489651051,PushEvent,"{'id': 3854017, 'login': 'rspt', 'gravatar_id'...","{'id': 28671719, 'name': 'rspt/rspt-theme', 'u...","{'push_id': 536863970, 'size': 1, 'distinct_si...",True,2015-01-01 15:00:01+00:00,NaN
2,2489651053,PushEvent,"{'id': 6339799, 'login': 'izuzero', 'gravatar_...","{'id': 28270952, 'name': 'izuzero/xe-module-aj...","{'push_id': 536863972, 'size': 1, 'distinct_si...",True,2015-01-01 15:00:01+00:00,NaN
3,2489651057,WatchEvent,"{'id': 6894991, 'login': 'SametSisartenep', 'g...","{'id': 2871998, 'name': 'visionmedia/debug', '...",{'action': 'started'},True,2015-01-01 15:00:03+00:00,"{'id': 9285252, 'login': 'visionmedia', 'grava..."
4,2489651062,PushEvent,"{'id': 485033, 'login': 'winterbe', 'gravatar_...","{'id': 28593843, 'name': 'winterbe/streamjs', ...","{'push_id': 536863975, 'size': 1, 'distinct_si...",True,2015-01-01 15:00:03+00:00,NaN
...,...,...,...,...,...,...,...,...
11346,2489678838,IssuesEvent,"{'id': 1105372, 'login': 'ophian', 'gravatar_i...","{'id': 2627116, 'name': 's9y/Serendipity', 'ur...","{'action': 'closed', 'issue': {'url': 'https:/...",True,2015-01-01 15:59:59+00:00,"{'id': 1104713, 'login': 's9y', 'gravatar_id':..."
11347,2489678840,IssuesEvent,"{'id': 9343331, 'login': 'No-CQRT', 'gravatar_...","{'id': 25600089, 'name': 'No-CQRT/GooGuns', 'u...","{'action': 'opened', 'issue': {'url': 'https:/...",True,2015-01-01 15:59:59+00:00,NaN
11348,2489678842,DeleteEvent,"{'id': 2057932, 'login': 'LipkeGu', 'gravatar_...","{'id': 24847217, 'name': 'LipkeGu/OpenRA', 'ur...","{'ref': 'keep_source_clean', 'ref_type': 'bran...",True,2015-01-01 15:59:59+00:00,NaN
11349,2489678843,IssuesEvent,"{'id': 9343331, 'login': 'No-CQRT', 'gravatar_...","{'id': 25600089, 'name': 'No-CQRT/GooGuns', 'u...","{'action': 'opened', 'issue': {'url': 'https:/...",True,2015-01-01 15:59:59+00:00,NaN
11350,2489678844,IssuesEvent,"{'id': 9343331, 'login': 'No-CQRT', 'gravatar_...","{'id': 25600089, 'name': 'No-CQRT/GooGuns', 'u...","{'action': 'opened', 'issue': {'url': 'https:/...",True,2015-01-01 15:59:59+00:00,NaN